body {
  font-family: sans-serif;
}
.nav {
  background-color: rgb(202, 53, 53);
  display: flex;
  justify-content: flex-end;
  height: 10vh; 
}
.navtext {
  padding-top: 1.5%;
  margin-right: 2%;
  font-size: 3vh;
  text-decoration: none;
  color: #fff;
}