body {
  font-family: 'poppins', sans-serif;
  margin: 0;
}
.nav {
  background-color: rgb(202, 53, 53);
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  position: fixed;
  width: 100vw;
}
.navtext {
  padding-top: 1.5%;
  margin-right: 2%;
  font-size: 3vh;
  text-decoration: none;
  color: #fff;
}
.dark-body {
  background-color: rgb(63, 60, 60);
  height: 100vh;
}
.dark-body-text1 {
  color: #fff;
  font-size: 7.5vh;
  font-weight: bold;
  text-align: center;
  padding-top: 20%;
}
.dark-body-text2 {
  font-size: 4vh;
  font-style: italic;
  text-align: center;
  font-weight: lighter;
  color: red;
  margin-top: 3.5vh;
}
.projects {
  background-color: rgb(74, 74, 119);
  height: 180vh;
  max-height: 180vh;
  justify-content: center;
  
}
.project-containers {
  flex-wrap: wrap;
  display: flex;
  gap: 10vh;

  
}
.projects-header {
  text-align: center;
  color: #fff;
  font-size: 5vh;
  font-weight: bold;
  padding-top: 8vh;
 }
.line{
  border: 1px solid rgb(255, 255, 255);
  height: 0vh;
  width: 80vh;
  margin-top: 1.8vh;
}
.contact {
  background-color: rgb(63, 60, 60);
  height: 100vh;
  text-align: center;
  color: #fff;
}
.contact-header1 {
  font-size: 10vh;
  padding-top: 30vh;
  font-weight: bold;
}
.contact-header2 {
  font-style: italic;
  font-weight: lighter;
  font-size: 3vh;
}
.media-links {
  padding-top: 10vh;
}
.line2 {
  border: 1px solid rgb(202, 53, 53);
  background-color: rgb(202, 53, 53);
  height: 0.3vh;
  margin-top: 0;
}
footer {
  background-color: rgb(63, 60, 60);
  margin-top: 0;
  margin-bottom: 0;
  height: 12vh;
  text-align: center;
  color: #fff;
}